<meta charset="UTF-8">
<body>
    <div class="container searchBtn">
      <form (submit)="handleSearch()">
          <input type="text" placeholder="Lookup Song" name = "search" [(ngModel)]="newQuery.search">
          <button type="submit" class="search"></button>
      </form>
    </div>
      <div class="container data" *ngIf="data">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Song</th>
            <th scope="col">Artist</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{song1.title}}</td>
            <td>{{song1.artist_name}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{song2.title}}</td>
            <td>{{song2.artist_name}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{song3.artist_name}}</td>
            <td>{{song3.artist_name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
</body>


