
<div class="container text-center">
  <div class="card">
    <table class="table">
      <tr>
        <th scope="col-3">Song</th>
        <th scope="col-1"></th>
        <th scope="col-3">Artist</th>
      </tr>
      <tbody>
      <tr>
        <td>Leave</td>
        <td><div class="dot"></div></td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Wait</td>
        <td><div class="dot"></div></td>
        <td>Thornton</td>
      </tr>
      <tr>
        <td>I Don't Know</td>
        <td><div class="dot"></div></td>
        <td>the Bird</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



