<div class="container text-center" style="width: 100vw">
        <div class="row">
        <div class="col-5 text-center">
        <div style="min-height: 6vh"></div>
        <div class="titleContainer">
        <p class="title display-3">Stir Fry</p>
        </div>
        <div style="min-height: 1vh"></div>
        <p class="artist">by Migos</p>
        <div style="min-height: 5vh"></div>
        <!-- <div class="circle mb-3"></div>-->
        <!-- <img src="assets/img/migos.jpg">-->
        <audio controls preload="metadata" style=" width:40vw;">
        <source src="http://www.hochmuth.com/mp3/Haydn_Cello_Concerto_D-1.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2 text-center">
        <p class="lead">Car Display</p>
        <div class="row">
        <div class="col"> <a class="btn btn-outline-light">Left Front</a></div>
        <div class="col"> <a class="btn btn-outline-light">Right Front</a></div>
        <div class="w-100"></div>
        <div class="col"><a class="btn btn-outline-light">Left Front</a></div>
        <div class="col"><a class="btn btn-outline-light">Right Front</a></div>
        </div>
        
        
        </div>
        </div>
        </div>